<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin</title>
		<link rel="stylesheet" href="../../stylesheets/adminheader.css" />
		<link rel="stylesheet" href="../../stylesheets/admin.css" />
		<link rel="stylesheet" href="../../stylesheets/adminSideBar.css" />
	</head>
	<body>













		<%- include('../../layout/adminheader') %>
		<%-include('../../layout/adminSidebar') %>
		<div class="NeetAchievements">
			<h2>Neet Achievements</h2>
			<div class="grid4">
				<div class="grid-item4 item1">
					<p>Current Image</p>
				</div>
				<div class="grid-item4 item2">
					<p>New Image</p>
				</div>
				<div class="grid-item4 item3">
					<p>MBBS Seat</p>
				</div>
				<div class="grid-item4 item4">
					<p>Consecutive Years</p>
				</div>
				<div class="grid-item4 item5">
					<p>Success rate</p>
				</div>
				<div class="grid-item4 item6">
					<p>No. of Admission</p>
				</div>
				<div class="grid-item4 item7">
					<p>Update</p>
				</div>
			</div>
			<div class="subbutton4">
				<button type="button">Submit</button>
			</div>
		</div>
		

		<script src="../../javascripts/adminPanel.js"></script>
	</body>
</html>
