<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin</title>
		<link rel="stylesheet" href="../../stylesheets/adminheader.css" />
		<link rel="stylesheet" href="../../stylesheets/admin.css" />
		<link rel="stylesheet" href="../../stylesheets/adminSideBar.css" />
	</head>
	<body>
		<%- include('../../layout/adminheader') %>
		<%-include('../../layout/adminSidebar') %>
		<div class="StudentsTestimonials">
			<h2>Students testimonials</h2>
			<div class="grid5">
				<div class="grid-item5 item1">
					<p>Current Image</p>
				</div>
				<div class="grid-item5 item2">
					<p>New Image</p>
				</div>
				<div class="grid-item5 item3">
					<p>Name</p>
				</div>
				<div class="grid-item5 item5">
					<p>Content</p>
				</div>
				<div class="grid-item5 item3">
					<p>College Name</p>
				</div>
				<div class="grid-item5 item3">
					<li class="">
						<a href=""><b>Watch On Youtube!</b></a>
					</li>
				</div>
			</div>
			<div class="subbutton5">
				<button type="button">Submit</button>
			</div>
		</div>
		<script src="../../javascripts/adminPanel.js"></script>
	</body>
</html>
