<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/404error.css"/>
    <title>404 ERROR</title>
    <link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
</head>
<body>
    <section class="error">
        <div class="box">
            <img src="images/home/box.png" alt="">
        </div>
        <div class="logo">
            <img src="images/home/classic-nee-tacademy-logo.png" alt="">
        </div>
        <div class="content">
            <h1>OOPS!</h1>
            <p>Something Went Wrong</p>
        </div>
        <div class="button">
            <button type="button" onclick="window.location.href='/'">Go Back To Home</button>
        </div>
    </section>
</body>
</html>