<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/aboutus.css" />
    <title>Aboutus</title>
</head>
<body>
    <%- include('./layout/header') %>
    <section class="video">
        <video  autoplay muted>
          <source src="" type="video/mp4">
        </video>
        <h1>EXPECT THE BEST...</h1>
    </section>
 <!-- visionmission -->
 <section class="visionmission">
   <div class="vision">
     <span class="visionspan">
      <h2>OUR  VISION</h2>
    </span>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      </p>
   </div>
   <div class="mission">
    <span class="missionspan">
      <h2>OUR  MISSION</h2>
    </span>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </p>
 </div>
 </section>
 <!-- Timeline -->
 <section class="timeline">
      <h2>Our Journey So Far</h2>
      <span><img src="image/home/classic-nee-tacademy-logo" alt="CLASSICNEET" /></span>
      <div class="cards1">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
      <div class="cards2">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
      <div class="cards3">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
      <div class="cards4">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
 </section>
 <!-- leaders -->
 
 <section class="leaders">
    <h2>Our Leaders</h2>
     <span><img src="image/aboutus/leader.jpg" alt="Leader"/></span>
 </section>
 <%- include('./layout/footer') %>
</body>
</html>