<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="stylesheets/adminheader.css"/>
    <link rel="stylesheet" href="stylesheets/admin.css"/>

</head>
<body>
    <%- include('./layout/adminheader') %>
    <section class="dashboard">
    <div class="MenuBar">
        <ul>
            <div class="home">
                <li class=""><a href=""><h4>HOME</h4></a></li>
                <span>
                    <li class=""><a href="">Slider Revolution</a></li>
                    <li class=""><a href="">Latest Updates</a></li>
                    <li class=""><a href="">Our Toppers</a></li>
                    <li class=""><a href="">Neet Achievements</a></li>
                    <li class=""><a href="">Students Testimonials</a></li>
                </span>
            </div>
            <div class="courses">
                <li class=""><a href=""><h4>COURSES</h4></a></li>
                <span>
                    <li class=""><a href="">Courses Neet</a></li>
                    <li class=""><a href="">Courses jee</a></li>
                    <li class=""><a href="">Courses iit & medical</a></li>
                </span>
            </div>
            <div class="AboutUs">
                <li class=""><a href=""><h4>ABOUT US</h4></a></li>
                <span>
                    <li class=""><a href="">History</a></li>
                    <li class=""><a href="">Our Leaders</a></li>
                </span>
            </div>
            <div class="DemoVideos">
                <li class=""><a href=""><h4>DEMO VIDEOS</h4></a></li>
                <span>
                    <li class=""><a href="">Videos</a></li>
                </span>
            </div>
            <div class="SuccessStories">
                <li class=""><a href=""><h4>SUCCESS STORIES</h4></a></li>
                <span>
                    <li class=""><a href="">Image</a></li>
                    <li class=""><a href="">Videos</a></li>
                </span>
            </div>
            <div class="Results">
                <li class=""><a href=""><h4>RESULTS</h4></a></li>
                <span>
                    <li class=""><a href="">Image</a></li>
                    <li class=""><a href="">Name</a></li>
                    <li class=""><a href="">Neet Scores</a></li>
                    <li class=""><a href="">Collage Group</a></li>
                </span>
            </div>
            <div class="ContactUs">
                <li class=""><a href=""><h4>CONTACT US</h4></a></li>
                <span>
                    <li class=""><a href="">Name</a></li>
                    <li class=""><a href="">Phone Number</a></li>
                    <li class=""><a href="">Message</a></li>
                </span>
            </div>
      </ul>
    </div> 
    <div class="Homepage">
        <form action="/imgupdate" method="post" class="imgform">
          <div class="sliderrevolution">
            <h2>Slider Revolution</h2> 
            	<div class="grid1">
                    <div class="grid-item1 item1">
                        <p>Current Images</p> 
                        <% img.forEach((image,index) => { %>
                            <p><%= image.imgname + parseInt(index+1) %></p>
                        <% }) %>
                    </div>
                    <div class="grid-item1 item2">
                        <p>New Image</p>
                        <% img.forEach(i => { %>
                            <input type="file" id="image" name="sliderimg" required />
                        <% }) %>
                    </div>
                    <div class="grid-item1 item3">
                        <p>Updates</p> 
                        <% img.forEach(i => { %>
                            <input type="checkbox" id="checkbox" class='updatesCheckbox' name="checkbox" value='<%= i.cloudinaryName %>' required style="height: 20px; width: 20px;" />
                        <% }) %>
                    </div>
                </div>
                <div class="subbutton1">
                    <button type="submit">Submit</button>
                </div>
          </div>
          <div class="Latestupdates">
            <h2>Latest updates</h2> 
            	<div class="grid2">
                    <div class="grid-item2 item1">Current Link</div>
                    <div class="grid-item2 item2">Updates</div>
                </div>
                <div class="subbutton2">
                    <button type="button">Submit</button>
                </div>
          </div>
          <div class="OurToppers">
            <h2>OurToppers</h2> 
            	<div class="grid3">
                    <div class="grid-item3 item1">Name</div>
                    <div class="grid-item3 item2">Score</div>
                    <div class="grid-item3 item3">Collage Name</div>
                    <div class="grid-item3 item4">Image</div>
                    <div class="grid-item3 item5">Update</div>
                </div>
                <div class="subbutton3">
                    <button type="button">Submit</button>
                </div>
          </div>
          <div class="NeetAchievements">
            <h2>Neet Achievements</h2> 
            	<div class="grid4">
                    <div class="grid-item4 item1">Current Image</div>
                    <div class="grid-item4 item2">New Image</div>  
                    <div class="grid-item4 item3">MBBS Seat</div>
                    <div class="grid-item4 item4">Consecutive Years</div>
                    <div class="grid-item4 item5">Success rate</div>
                    <div class="grid-item4 item6">No. of Admission</div>
                    <div class="grid-item4 item7">Update</div>
                </div>
                <div class="subbutton4">
                    <button type="button">Submit</button>
                </div>
          </div>
          <div class="Students testimonials">
            <h2>Students testimonials</h2> 
            	<div class="grid5">
                    <div class="grid-item5 item1">Current Image</div>
                    <div class="grid-item5 item2">New Image</div>  
                    <div class="grid-item5 item4">Name</div>
                    <div class="grid-item5 item5">Content</div>
                    <div class="grid-item5 item6">Success rate</div>
                    <div class="grid-item5 item7">No.of Admission</div>
                    <div class="grid-item5 item3">Update</div>
                </div>
                <div class="subbutton4">
                    <button type="button">Submit</button>
                </div>
          </div></form>
    </section>   
    <script src="javascripts/adminPanel.js"></script>
</body>
</html>