<div class="bot-img"></div>
<div class="chat">
	<div class="chat-nav">
		<img src="../images/chatbot/chatbot.png" alt="" />
		<h1>Classic NEET Academy <br /><span>Automated Chat</span></h1>
		<img src="../images/chatbot/chatbot_reset.png" alt="" />
		<img src="../images/chatbot/chatbot_close.png" alt="" class="chat_close" />
	</div>
</div>
