<div class="bot-img"></div>
<div class="chat">
	<div class="chat-nav">
		<img src="../images/chatbot/chatbot1.png" alt="" />
		<h1>Classic NEET Academy <br /><span>Automated Chat</span></h1>
		<img src="../images/chatbot/chatbot_reset.png" class="chat_reset" />
		<span
			><span class="chat_close">X</span>
			<img src="../images/chatbot/chatbot_close.png"
		/></span>
	</div>

	<div class="chat-body">
		<div class="each-chat bot">
			<img src="../images/chatbot/chatbot1.png" alt="" />
			<span class="chat-span">Hello, scholar</span>
		</div>
		<div class="each-chat bot">
			<img src="../images/chatbot/chatbot1.png" alt="" />
			<span class="chat-span">Enter your name</span>
		</div>
		<form class="each-chat client name-form" onsubmit="nameFormSubmit()">
			<button>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					id="name_svg"
				>
					<path
						fill-rule="evenodd"
						d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
						clip-rule="evenodd"
					/>
				</svg>
			</button>
			<input
				type="text"
				placeholder="Name"
				maxlength="30"
				minlength="3"
				autofocus
				required
				id="client_name"
			/>
		</form>
	</div>
	<div class="chat-footer">
		<a href="/Aboutus">About us</a>
		<a href="/contactus">Contact us</a>
	</div>
</div>
