<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="images/home/classic-nee-tacademy-logo.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="stylesheets/contactus.css" />
		<link rel="stylesheet" href="stylesheets/chatbot.css" />
		<link rel="stylesheet" href="sweetalert2.min.css" />
		<title>Contact Us</title>
		<style>
			.contactusnav {
				background-color: #369afe;
				border-radius: 0% 50% 0% 50%;
				color: white !important;
			}
		</style>
	</head>
	<body>
		<%- include('./layout/header') %> <%- include('./chatbot') %>
		<section class="enquire-form-container">
			<div>
				<div class="left">
					<div class="contact-container">
						<div class="location">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								class="contact-icon"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"
								/>
							</svg>
							<p>
								1/1, First Floor, PS Square, SKS Hospital Road,<br />
								Opp. Ponnusamy Goundar Kalyana Mandapam, Salem- 636004
							</p>
						</div>
						<div class="phone">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="contact-icon"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									d="M14.414 7l3.293-3.293a1 1 0 00-1.414-1.414L13 5.586V4a1 1 0 10-2 0v4.003a.996.996 0 00.617.921A.997.997 0 0012 9h4a1 1 0 100-2h-1.586z"
								/>
								<path
									d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
								/>
							</svg>
							<p>+91-78670 14165</p>
						</div>
						<div class="email">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="contact-icon"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
								/>
								<path
									d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
								/>
							</svg>
							<p>info@classicneetacademy.com</p>
						</div>
					</div>
				</div>
				<div class="right">
					<h1>Enquiry Form</h1>
					<form action="/contactus" class="form" method="POST">
						<div class="input-container">
							<label for="name">Name <span style="color: red">*</span></label>
							<input
								type="text"
								name="name"
								class="form-input name-input"
								id="name"
							/>
							<div class="nameError err"></div>
						</div>
						<div class="input-container">
							<label for="phone"
								>Phone number <span style="color: red">*</span></label
							>
							<input
								type="text"
								name="phone"
								class="form-input phonenum"
								id="phone"
							/>
							<div class="phoneError err"></div>
						</div>
						<div class="input-container">
							<label for="phone">Email <span style="color: red">*</span></label>
							<input
								type="email"
								name="email"
								class="form-input email-input"
								id="email"
							/>
							<div class="emailError err"></div>
						</div>
						<div class="textarea-container">
							<label for="message"
								>Comment <span style="color: red">*</span></label
							>
							<textarea
								name="message"
								class="form-input comment-input"
								id="message"
							></textarea>
							<div class="commentError err"></div>
						</div>
						<div class="button-container">
							<button class="submit">Submit</button>
							<button class="reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<% if(success && success.length) {%>
		<p class="sweetp"><%= success %></p>
		<% } %> <%- include('./layout/footer') %>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="javascripts/nav.js"></script>
		<script src="javascripts/contactus.js"></script>
		<script src="javascripts/common.js"></script>
		<script src="javascripts/chatbot.js"></script>
	</body>
</html>
