<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/courses.css"/>
    <title>Contact Us</title>
</head>
<body>
    <%- include('./layout/header') %>
    <div class="findus">
        <h1>Find Us Through</h1>
    </div>
    <section class="gridcontainer">
      
        <div class="grid">
      <div class="gridbox1"> 
          <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="location-svg" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd" />
      </svg></span>
      <p>1/1, First Floor, PS Square, KHS Hospital Road, Opp. to Ponnuswamy
          Gounder Kalyana Mandapam, 
          Salem - 4</p>
      </div>
      
      <div class="gridbox2"><span><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
          fill="currentColor">
          <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
      </svg>
      </span>
      <p>+91-78670 14165</p>
      </div>
      <div class="gridbox3">
          <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        </span>
      <p>abc@gmail.com</p>
      </div>
  </div>
    </section>
    <Section class="query">
        <p>If you have any questions, regarding the courses. Please do fill this form, we will revert you shortly. </p>
    </div>
    <div class="form">
        <form>
            <label for="name">name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="phonenumber">phone number:</label>
            <input type="phone number" id="number" name="number"><br><br>
            <label for="message">message:</label>
            <input type="message" id="message" name="message"><br><br>
            <input type="submit" value="Submit">
            <input type="reset" value="reset">
        </form>
    </div>
    </section>
    <%- include('./layout/footer') %>
</body>
</html>