<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="stylesheets/coursesNEET.css" />
		<link rel="stylesheet" href="stylesheets/chatbot.css" />
		<title>CoursesIIT & Medical</title>
	</head>
	<body>
		<%- include('./chatbot') %>
		<section class="bgmeth">
			<div class="methodology1">
				<span class="exit"
					><img
						src="https://img.icons8.com/ios-glyphs/40/000000/macos-close.png"
				/></span>

				<p class="methContent">
					CLASSIC NEET ACADEMY offers a unique IIT/Medical Foundation program
					aimed at students of the 6th, 7th, 8th, 9th and 10th classes. This
					program focuses on strengthening the students conceptual clarity of
					the fundamentals in Mathematics, Physics, Chemistry, Biology, Logical
					Reasoning & Communication Skills.
				</p>
				<h1>Objective & Course Methodology</h1>
				<ul>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>To focus on encouraging students to apply the concepts learnt in
						real life situations
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Course methodology is aimed at helping the students to understand
						the concepts thoroughly
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>It helps them develop a logical approach to Maths, Physics,
						Chemistry & Biology for an effective learning
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Overall it develops Analytical & Logical skills which are highly
						required for all competitive exams like NEET, JEE, CLAT, UPSC, etc.,
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Conducting Science Exhibition
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Lot of Science Live Experiments to understand the concepts
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Progress Report Booklet to keep record of the student’s performance in order to keep
						the parents updated on a continuous basis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Individual Mark Analysis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Interactive Doubt clearing sessions
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Study Materials- 4
					</li>
				</ul>
			</div>
		</section>

		<%- include('./layout/header') %>

		<!--courses Neet-->
		<section class="coursesBanner coursesiit">
			<!-- <img src="../img/courses/neet.jpg" class="neetimage" alt="/"> -->
			<span class="h1andh2">
				<h1 class="headh1h2"><b>COURSES</b></h1>
				<h2 class="headh1h2"><b>IIT & Medical</b></h2>
				<a class="button" id="button" href="/contactus" target="">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					Enroll Now
				</a>
			</span>
		</section>

		<section class="hexMain">
			<div class="hex1 bg1">
				<img src="../images/courses/iitmed.png" alt="" />
				<div class="hexBox">
					<h1 class="hexTitle" style="word-wrap: break-word; width: 90%;">IIT & Medical Foundation Course</h1>
					<p class="hexContent paraIIT">
						CLASSIC NEET ACADEMY offers a unique IIT/Medical Foundation program
						aimed at students of the 6th, 7th, 8th, 9th and 10th classes. This
						program focuses on strengthening the students conceptual clarity of
						the fundamentals in Mathematics, Physics, Chemistry, Biology,
						Logical Reasoning & Communication Skills.
					</p>
					<button class="neet1btn">Read more</button>
				</div>
			</div>
		</section>
		

		<a href="/contactus"><button class="enroll">Enroll Now!</button></a>

		<%- include('./layout/footer') %>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="javascripts/nav.js"></script>
		<script src="javascripts/common.js"></script>
		<script src="javascripts/courses.js"></script>
		<script src="javascripts/chatbot.js"></script>
	</body>
</html>
