<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/coursesIIT&Medical.css" />
		<title>Courses IIT & Medical</title>
	</head>
	<body>
		<%- include('./layout/header') %>
		<!--courses Neet-->
		<section class="coursesneet">
			<!-- <img src="../img/courses/neet.jpg" class="neetimage" alt="/"> -->
			<span class="h1andh2">
				<h1 class="headh1h2"><b>COURSES</b></h1>
				<h2 class="headh1h2"><b>IIT & MEDICAL FOUNDATION</b></h2>
			</span>

			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="leftarrow"
				viewBox="0 0 20 20"
				fill="currentColor"
			>
				<path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
					clip-rule="evenodd"
				/>
			</svg>
		</section>
		<section class="overview">
			<h2><b>OVERVIEW</b></h2>
			<span class="overviewspan">
				<p>
					CLASSIC NEET ACADEMY offers a unique IIT/Medical Foundation programme
					aimed at students of the 6th, 7th, 8th, 9th and 10th classes. This
					program focuses on strengthening the students conceptual clarity of
					the fundamentals in Mathematics, Physics, Chemistry, Biology, Logical
					Reasoning & Communication Skills.
				</p>

        This program focuses on strengthening the students conceptual clarity of the fundamentals in Mathematics, Physics, Chemistry, Biology, Logical Reasoning & Communication Skills.
      </p>
    
 
      <img src="../public/images/courses/Rectangle 55.png" alt="/">
    
    </span>
  </section>
  <section class="module">
    <span>
    <h2><b>Course Duration</b></h2>
  </span>
      <P><b>1: </b>  To focus on encouraging students to apply the concepts learnt in real life situations. </P>
      <P><b>2: </b>  Course methodology is aimed at helping the students to understand the concepts thoroughly </P>
      <P><b>3: </b> It helps them develop a logical approach to Maths, Physics, Chemistry & Biology for an effective learning </P>
      <P><b>4: </b>  Overall it develops Analytical & Logical skills which are highly required for all competitive exams like NEET, JEE, CLAT, UPSC, etc., </P>
      <!-- <P><b>Module 5: </b>  Lorem Ipsum is simply dummy text of Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->

   
  </section>
  <section class="drive">
  <div class="bottom-drive">
    <a href="/" target="_blank">Download Free Questions Bank for Neet 2021- Latest edition 2021</a>
  </div>
</section>
<%- include('./layout/footer') %>
</body>
</html>
