<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="stylesheets/coursesNEET.css" />
		<link rel="stylesheet" href="stylesheets/chatbot.css" />
		<title>CoursesJEE</title>
	</head>
	<body>
		<%- include('./chatbot') %>
		<section class="bgmeth">
			<div class="methodology1">
				<span class="exit"
					><img
						src="https://img.icons8.com/ios-glyphs/40/000000/macos-close.png"
				/></span>
				<p class="methContent">
					IIT JEE-Two year course is meant for students who have completed their 10th std
					board exams. The course will start at their 11th std and will be
					conducted till their JEE exam.
				</p>
				<h1>Course Methodology</h1>
				<ul>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Classroom training is complemented by Basic Study Material that
						focuses on both concepts and techniques of problem solving
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Integrated and comprehensive coverage of XI and XII syllabus
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Separate Study Materials for Physics, Chemistry & Maths
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Unit Tests, Cumulative Tests, Revision Tests in Physics, Chemistry
						& Maths,Full Portion Revision Test
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Solution booklets for problems in Study Material Books
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Progress Report Booklet to keep record of the student’s performance
						in order to keep the parents updated on a continuous basis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Individual Mark Analysis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Interactive Doubt clearing sessions
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Problem solving session for each units
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Concept Capsules
					</li>
				</ul>
			</div>
		</section>
		<section class="bgmeth2">
			<div class="methodology2">
				<span class="exit"
					><img
						src="https://img.icons8.com/ios-glyphs/40/000000/macos-close.png"
				/></span>
				<p class="methContent">
					JEE-One year course is specifically designed for those who wish to focus on JEE
					after completing their 11th class exams.
				</p>
				<h1>Course Methodology</h1>
				<ul>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Classroom training is complemented by Basic Study Material that
						focuses on both concepts and techniques of problem solving
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Integrated and comprehensive coverage of XI and XII syllabus
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Separate Study Materials for Physics, Chemistry & Maths
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Unit Tests, Cumulative Tests, Revision Tests in Physics, Chemistry
						& Maths
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Solution booklets for problems in Study Material Books
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Progress Report Booklet to keep record of the student’s performance
						in order to keep the parents updated on a continuous basis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Individual Mark Analysis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Interactive Doubt clearing sessions
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Problem solving session for each units
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Concept Capsules
					</li>
				</ul>
			</div>
		</section>
		<section class="bgmeth3">
			<div class="methodology3">
				<span class="exit"
					><img
						src="https://img.icons8.com/ios-glyphs/40/000000/macos-close.png"
				/></span>
				<p class="methContent">
					IIT JEE-Crash course is meant for those who are appearing for their 12th class
					board exams and wish to focus on JEE after the Board exams. These
					students will be attempting JEE the same year.
				</p>
				<h1>Course Methodology</h1>
				<ul>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Classroom training is complemented by Basic Study Material that
						focuses on both concepts and techniques of problem solving
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Integrated and comprehensive coverage of XI and XII syllabus
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Separate Study Materials for Physics, Chemistry & Maths
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Unit Tests, Cumulative Tests, Revision Tests in Physics, Chemistry
						& Maths
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Solution booklets for problems in Study Material Books
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Progress Report Booklet to keep record of the student’s performance
						in order to keep the parents updated on a continuous basis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Individual Mark Analysis
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Interactive Doubt clearing sessions
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Problem solving session for each units
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Concept Capsules-6
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Study Materials- 6
					</li>
					<li>
						<span
							><svg
								class="tick"
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M5 13l4 4L19 7"
								/></svg></span
						>Solution Booklets-3
					</li>
				</ul>
			</div>
		</section>

		<%- include('./layout/header') %>

		<!--courses Neet-->
		<section class="coursesBanner coursesjee">
			<!-- <img src="../img/courses/neet.jpg" class="neetimage" alt="/"> -->
			<span class="h1andh2">
				<h1 class="headh1h2"><b>COURSES</b></h1>
				<h2 class="headh1h2"><b>IIT-JEE</b></h2>
				<a class="button" id="button" href="/contactus" target="">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					Enroll Now
				</a>
			</span>
		</section>

		<section class="hexMain">
			<div class="hex1 bg1">
				<img src="../images/courses/jee1.png" alt="" />
				<div class="hexBox hexBox2">
					<h1 class="hexTitle">IIT JEE-Two year course</h1>
					<p class="hexContent para1JEE">
						IIT JEE-Two year course is meant for students who have completed their 10th std
						board exams. The course will start at their 11th std and will be
						conducted till their JEE exam.
					</p>
					<button class="neet1btn">Read more</button>
				</div>
			</div>
		</section>
		<section class="hexMain">
			<div class="hex1 hex2 bg2">
				<img src="../images/courses/jee2.png" alt="" />
				<div class="hexBox">
					<h1 class="hexTitle">IIT JEE-One year course</h1>
					<p class="hexContent para2JEE">
						IIT JEE-One year course is specifically designed for those who wish to focus on
						JEE after completing their 11th class exams.
					</p>
					<button class="neet2btn">Read more</button>
				</div>
			</div>
		</section>
		<section class="hexMain">
			<div class="hex1 bg3">
				<img src="../images/courses/jee3.png" alt="" />
				<div class="hexBox hexBox2">
					<h1 class="hexTitle">IIT JEE-Crash course</h1>
					<p class="hexContent para3JEE">
						IIT JEE-Crash course is meant for those who are appearing for their 12th
						class board exams and wish to focus on JEE after the Board exams.
						These students will be attempting JEE the same year.
					</p>
					<button class="neet3btn">Read more</button>
				</div>
			</div>
		</section>

		<a href="/contactus"><button class="enroll">Enroll Now!</button></a>

		<%- include('./layout/footer') %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="javascripts/nav.js"></script>
		<script src="javascripts/common.js"></script>
		<script src="javascripts/courses.js"></script>
		<script src="javascripts/chatbot.js"></script>
	</body>
</html>
