<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/coursesNEET.css" />
    <title>CoursesNeet</title>
</head>
<body>
    <%- include('./layout/header') %>
    <!--courses Neet-->
  <section class="coursesneet">
      
    <!-- <img src="../img/courses/neet.jpg" class="neetimage" alt="/"> -->
    <span class="h1andh2">
      <h1 class="headh1h2"><b>COURSES</b></h1>
       <h2 class="headh1h2"><b>NEET</b></h2>
    </span>
  
    <svg xmlns="http://www.w3.org/2000/svg" class="leftarrow" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
    </svg>

</section>
  <section class="overview">
    <h2><b>OVERVIEW</b></h2>
    <span class="overviewspan">
      <h2><b>Repeaters Course</b></h2>
      <p>This course is meant for those who have completed 
         12th class board exams and might have already attempted
         the NEET. They will appear for NEET in the coming year 
         after one year of training focused on NEET.

         Course Methodology
         <ul class="course-methodology">
           <li>Full day course from Monday to Saturday</li>
           <li>Classes with proven faculties</li>
           <li>Daily test, Unit test, Unit Cumulative Test, Revision test, Full length NEET Mock tests</li>
           <li>Doubt clearing sessions</li>
         </ul>
      </p>
    
 
      <img src="../images/courses/Rectangle 55.png" alt="/">
    
    </span>
  </section>
  <section class="module">
    <span>
    <h2><b>Course Durations</b></h2>
  </span>
      <P><b>Two-Year Course: </b>  This course is meant for students who have completed their 10th std board exams. The course will start at their 11th std and will be conducted till their NEET exam. </P>
      <P><b>One-year course: </b>  The course is specifically designed for those who wish to focus on NEET after completing their 11th class exams. </P>
      <P><b>Crash Course: </b>  This course is meant for those who are appearing for their 12th class board exams and wish to focus on NEET after the Board exams. These students will be attempting NEET the same year. </P>
      <P><b>School Tie up courses: </b>  This course will be conducted in school premises for the benefit of students. 12 to 18 hours of classes will be conducted per week. This course not only helps for entrance exams but also for school curriculum. </P>
      

   
  </section>
  <section class="drive"> 
  <div class="bottom-drive">
    <a href="/">Download Free Questions Bank for Neet 2021- Latest edition 2021</a>
  </div>
</section>
<%- include('./layout/footer') %>
</body>
</html>