<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>
    <section class="loginpage">
    <div class="login">
    <form 
      action="/login"
      method="POST"
      id="login"
      style="display: flex; flex-direction: column; width: 70vw"
    >
      <div class="name">
        <h1>LOGIN</h1>
      </div>
      <div class="Username" >
        <label for="username">Enter your username</label>
        <input type="text" placeholder="Username" name="username" id="username" autofocus/>
      </div>
      <div class="Username">
        <label for="password">Enter your password</label>
        <input
          type="password"
          placeholder="Password"
          name="password"
          id="password"
        />
      </div>

      <div class="btn">
        <button class="submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
  </section>
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-analytics.js"></script>
    <script src="javascripts/auth.js"></script>
  </body>
</html>
