<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
  </head>
  <body>
    

    <form action="/register" method="POST" id="login" style="display: flex; flex-direction: column; width: 70vw;">
      <label for="email">Email</label>
      <input type="email" placeholder="email" name="email" id="email" />
      <label for="password">password</label>
      <input
        type="password"
        placeholder="password"
        name="password"
        id="password"
      />
      <label for="username">Username</label>
      <input
        type="text"
        placeholder="username"
        name="username"
        id="username"
      />
      <button type="submit">Submit</button>
    </form>







    
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.0/firebase-analytics.js"></script>
    <script src="javascripts/auth.js"></script>
  </body>
</html>
