<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg table</title>
    <link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
</head>
<body>
      <form action="/admin" method="POST" id="login" style="display: flex; flex-direction: column; width: 70vw;">
      <label for="imgename">imgname</label>
      <input type="text" placeholder="imagename" name="imagename" id="imagename" />
      <label for="sliderimg">sliderimg</label>
      <input
        type="file"
        placeholder="sliderimg"
        name="sliderimg"
        id="sliderimg"
      />
     
      <button type="submit">Submit</button>
    </form>
</body>
</html>
