<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/successStories2.css" />
    <title>Success Stories</title>
  </head>
  <body>
    <%- include('./layout/header') %>

    <section class="secMain">
      <img class="vector" src="../images/successStories/Vector 8.png" alt="" />
      <div class="cardMain">
        <div class="card">
          <img
            class="profile"
            src="../images/successStories/success_img_1.png"
            alt=""
          />
          <h3>PRIYA</h3>
          <iframe
            class="video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/OUQ1FXrOJKA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card">
          <img
            class="profile"
            src="../images/successStories/success_img_1.png"
            alt=""
          />
          <h3>PRIYA</h3>
          <iframe
          class="video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/OUQ1FXrOJKA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card">
          <img
            class="profile"
            src="../images/successStories/success_img_1.png"
            alt=""
          />
          <h3>PRIYA</h3>
          <iframe 
          class="video"

            width="560"
            height="315"
            src="https://www.youtube.com/embed/OUQ1FXrOJKA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <!-- <div class="card"></div> -->
      </div>
      
      <img class="vector" src="../images/successStories/Vector 9.png" alt="" />
    </section>
  </body>
</html>
