<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
</head>
<body>
    <form action="/test" method="post">
        <input type="text" name="input1">
        <input type="text" name="input2">
        <button type="submit">button</button>
    </form>
    <form action="/testno" method="post">
        <input type="text" name="input1">
        <input type="text" name="input2">
        <button type="submit">button</button>
    </form>
</body>
</html>