@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	user-select: none;
}
body{
    background: linear-gradient(#0061FF,#60EFFF);
    width: 100%;
    height: 101vh;
}
h1,
h2,
h3,
h4 {
	font-family: 'Poppins', sans-serif;
    color: white;
}
p,a{
   color: white;
}
/* Menu Bar */
.Menu{
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #fff;
    
}
.Menu svg{
    width: 50px;
    height: 40px;
    margin: 2%;
}
.Menu h2{
    font-size: 25px;
    position: absolute;
    top: 4%;
    left: 6%;
}
.Menu h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 27%;
    top: 3%;
}
.Menu img{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 1%; 
    left: 84%;
    width: 50px;
    height: 50px;
}  
.Menu div h2{
    font-size: 20px;
    position: absolute;
    top: 3%;
    left: 89%;
}
.Menu div p{
    font-size: 15px;
    position: absolute;
    top: 7%;
    left: 84%;
    text-decoration: underline;
}
/* Menubar */
.MenuBar{
    border-right: 2px solid #fff;
    width: 17%;
    display: flex;
    position: relative;
	justify-content: space-around;
    align-items: center;
	min-height:90vh;
	font-size: 20px;
}
.MenuBar a{
    text-decoration: none;
}
.MenuBar li{
    list-style: none;
}
.home span{
    position: relative;
    left: 13%;
}
.courses span{
    position: relative;
    left: 13%;
}
.AboutUs span{
    position: relative;
    left: 13%;
}
.DemoVideos span{
    position: relative;
    left: 13%;
}
.SuccessStories span{
    position: relative;
    left: 13%;
}
.Results span{
    position: relative;
    left: 13%;
}
.ContactUs span{
    position: relative;
    left: 13%;
}
h3{
    text-transform: uppercase;
}
