.bot-img {
	position: fixed;
	top: 120vh;
	right: 0;
	transform: translateY(-120%);
	z-index: 15;
	width: 6rem;
	height: 4rem;
	margin-right: 2rem;
	background: url(../images/chatbot/chatbot.png) center/cover no-repeat;
	animation: bot-img-animate 0.5s ease-in-out infinite alternate;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

@keyframes bot-img-animate {
	0% {
		transform: translateY(-120%);
	}
	100% {
		transform: translateY(-130%);
	}
}

.bot-img img {
	object-fit: cover;
}

.chat {
	width: 21rem;
	height: 0;
	background: linear-gradient(
		165.54deg,
		#1d5dda 3.45%,
		#2f6fd9 29.82%,
		#40b6d6 52.39%,
		#53d6b7 73.95%,
		#63d386 99.73%
	);
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 15;
	margin-right: 3rem;
	margin-bottom: 3rem;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	border-radius: 10px;
}

.chat.open {
	height: 60vh;
}

.chat-nav {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.chat-nav h1 {
	color: white;
	font-size: 1rem;
	margin-right: 1rem;
}

.chat-nav h1 span {
	color: #DDDDDD;
	font-size: 0.8rem;
}

.chat-nav img:nth-of-type(1) {
	width: 5rem;
	height: 5rem;
}
