* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body.dark .methodology1,
body.dark .methodology2,
body.dark .methodology3,
body.dark .methodology4 {
	color: black !important;
}

.coursesneet {
	width: 100%;
	height: 90vh;
	background: url('../images/courses/jee.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-attachment: fixed;
}

.h1andh2 {
	padding: 5%;
}
.headh1h2 {
	padding: 2%;
}

.coursesneet {
	position: relative;
	height: 100vh;
	width: 100%;
}
.coursesneet h1 {
	color: #568036;
	font-size: 45px;
}
.coursesneet h2 {
	color: black;
	font-size: 32px;
}
