* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	overflow: hidden;
}
.loginpage {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background:linear-gradient(to right top,#60EFFF,#369AFE); */
	background-image: url('../images/login/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.login {
	padding: 3rem 6rem;
	display: flex;
	flex-direction: column;
	background: rgba(256, 256, 256, 0.5);
	
	box-shadow: 0px 0px 3px #fff;
	align-items: center;
	justify-content: space-around;
	border-radius: 30px;
	position: relative;
}
::placeholder {
	text-align: center;
	font-size: 1.3rem;
}
.name {
	margin: 2%;
}
.name h1 {
	font-size: 3rem;
	/* margin-bottom: 2rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	color: #007effc7;
	text-shadow: 2px 2px #000;
}
.Username {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	align-items: center;
	justify-content: center;
}

.Username input {
	width: 130%;
	height: 3rem;
	border: 1px solid #c2c2c2;
	font-size: 1rem;
	border-radius: 10px;
	text-align: center;
}
.Username label {
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.submit {
	border: none;
	color: white;
	font-size: 1.3rem;
	border-radius: 20px;
	background-color: #045d63;
	cursor: pointer;
	padding: 0.3rem 1rem;
}
.submit:hover {
	background-color: #045d6393;
}
