body.dark .nav-toggler span,
body.dark .nav-toggler span::before,
body.dark .nav-toggler span::after {
	background-color: white !important;
}

body.dark .nav-toggler.toggler-open span {
	background-color: transparent !important;
}

nav {
	background-color: #fff;
	height: 4rem;
	width: 100%;
}
.nav2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	/* width: 35%; */
}
/* navbar regular css start */
.navbar-area {
	background: var(--dark);
	padding: 0.5rem 0;
}
.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a.site-logo {
	font-size: 26px;
	font-weight: 800;
	width: 11rem;
	text-transform: uppercase;
	/* color: #369afe; */
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.site-logo-img {
	width: 65%;
	margin: 0% 0% 0% 20%;
}
.site-navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.site-navbar ul li a {
	color: #1e2886;
	padding: 1rem 1.5rem;
	text-align: center;
	display: block;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}
.site-navbar ul li a:hover {
	border-radius: 0% 50% 0% 50%;
}

.even:hover {
	background-color: #369afe;
	color: white;
}
.odd:hover {
	background-color: #60efff;
	color: rgb(0, 0, 0);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
	/* border: 3px solid #fff; */
	border: none;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 39px;
	display: none;
	z-index: 1000;
	margin-right: 5%;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: black;
	display: block;
	transition: 0.3s;
}

.nav-toggler span:before {
	content: '';
	transform: translateY(-9px);
}
.nav-toggler span:after {
	content: '';
	transform: translateY(6px);
}
.nav-toggler.toggler-open span {
	background-color: transparent;
}
.nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
	height: calc(100vh - 61px);
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
}
.intro-area h2 {
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-bottom: 25px;
}
.intro-area p {
	font-size: 18px;
}
/* dropdown */
.menu {
	position: relative;
	display: inline-block;
}
.submenu {
	height: fit-content;
	width: 500px;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 10;
	background: #fff;
	color: #000;
}
body.dark .submenu {
	background: #000;
	color: #fff;
}

.none {
	display: none !important;
}

.mobile {
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 20%;
}

@media (max-width: 1275px) {
	.nav2 {
		width: 80%;
	}
}
@media (max-width: 1150px) {
	.nav2 {
		width: 85%;
	}
}
/* intro-area css end */
@media (max-width: 1000px) {
	.nav-toggler span,
	.nav-toggler span:before,
	.nav-toggler span:after {
		width: 30px;
		height: 3px;
	}
	.nav-toggler span:before {
		transform: translateY(-8px);
	}
	.nav-toggler span:after {
		transform: translateY(5px);
	}

	.container {
		max-width: 720px;
	}
	/* navbar css for mobile start */
	.nav-toggler {
		display: block;
	}
	.site-navbar {
		min-height: 60px;
	}
	.site-navbar ul {
		position: absolute;
		width: 100%;
		/* height: calc(100vh - 60px); */
		height: 100vh;
		left: 0;
		/* top: 60px; */
		top: 0;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #444;
		background-color: rgba(0, 0, 0, 0.75);
		max-height: 0;
		overflow: hidden;
		z-index: 20;
		transition: 0.3s;
	}
	.site-navbar ul li {
		width: fit-content;
		text-align: center;
	}
	.site-navbar ul li a {
		font-size: 1.5rem;
		color: white;
	}
	.site-navbar ul li a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.site-navbar ul.open {
		max-height: 100%;
		overflow: visible;
		z-index: 20;
		padding-top: 1%;
	}
	.intro-area h2 {
		font-size: 36px;
		margin-bottom: 15px;
	}
	/* navbar css for mobile end */
	.nav2 {
		width: 35%;
	}
}

/* mobile breakpoint start */
@media (max-width: 400px) {
	nav {
		height: 4rem;
	}
	.nav2 {
		width: 40%;
	}
	a.site-logo {
		width: 10rem;
	}
	.nav-toggler span,
	.nav-toggler span:before,
	.nav-toggler span:after {
		width: 40px;
		height: 4px;
	}
	.nav-toggler.toggler-open span:after {
		transform: translateY(-3px) rotate(-45deg);
	}
	.container {
		max-width: 720px;
	}
	/* navbar css for mobile start */
	.nav-toggler {
		display: block;
	}
	.site-navbar {
		min-height: 60px;
	}

	.nav-toggler span:before {
		transform: translateY(-10px);
	}
	.nav-toggler span:after {
		transform: translateY(6px);
	}

	/* navbar css for mobile end */
}

/* mobile breakpoint end */

/* NAVBAR ENDS */

/* body */

.overflow-hidden {
	overflow: hidden;
}
