.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide img {
  height: 90vh;
  width: 100%;
}

.section2 {
  position: relative;
 
  width: 100%;
  margin-bottom: 5rem;

  /* background:blue; */
}

.gridcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-row-gap: 5rem;
    align-items: center;
  /* -ms-grid-row-align: center;
      -ms-grid-column-align: center; */
  /* align-items: center; */
  /* justify-content: space-around; */
}

.gridbox {
  position: relative;
  height: 12rem;
  width: 24rem;
  /* border: 1px solid black; */
  
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 50px rgb(0,0,0,0.2);
  border-radius: 10px;
  /* -webkit-box-reflect: below 0 linear-gradient(transparent, white); */
}

.griditem2 {
  
  /* background: white; */
  flex-direction: row-reverse;
}

.griditem4 {
  
  /* background: white; */
  flex-direction: row-reverse;
}

.griditem6 {
  
  /* background: white; */
  flex-direction: row-reverse;
}

.griditem8 {
  
  /* background: white; */
  flex-direction: row-reverse;
}

.griditem10 {
  
  /* background: #000; */
  flex-direction: row-reverse;
}

.griditem12 {
  
  /* background: #000; */
  flex-direction: row-reverse;
}

.gridbox img {
  height: 100%;
  width: 50%;
  border-radius: 10px;
}

.gridbox span {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridbox > span > p {
  font-size: 17px;
  font-weight: 600;
  line-height: 3;
}

.gridbox > span > h3 {
  font-size: 19px;
}

@media (max-width:1250px) {
  .gridcontainer {
      grid-template-columns: repeat(2,1fr);
  }   
}

@media (max-width:800px) {
  
.swiper-slide img {
  object-fit: cover;
  background-position: center;
}
  .gridcontainer {
      grid-template-columns: repeat(1,1fr);
  }   
}

@media (max-width:450px) {
  .gridbox {
    height: 10rem;
    width: 20rem;
  }   
}