.dropdown1 {
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 10px;
	position: relative;
	background: linear-gradient(#ffafbd, #ffc3a0);

	color: #000000;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin: 2rem 0rem;
	left: 50%;
	transform: translateX(-50%);
}

.arrowRight {
	height: 70px;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-100%);
	cursor: pointer;
}
.arrowLeft {
	height: 70px;
	position: absolute;
	left: 2%;
	top: 50%;
	transform: translateY(-100%);
	cursor: pointer;
}
.btnItem {
	height: 50px;
}
.btnItem2 {
	height: 50px;
	transform: rotate(180deg);
}

.swiper {
	width: 100%;
	height: calc(100vh - 4rem);
}
body {
	background-color: EEEEEE;
}

body.dark {
	background-color: #181a1b;
	color: white;
}

body.dark .chat {
	color: black !important;
}

.swiper-slide img {
	height: 100%;
	width: 100%;
}

.section2 {
	position: relative;

	width: 100%;
	margin-bottom: 2rem;
}

.gridcontainer {
	position: relative;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-row-gap: 5rem;
	align-items: center;
}
.imgDesign {
	background: url(../images/Result/des2.png) center/cover;
	width: 100%;
	height: 60%;
	right: 2%;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.imgDesign img {
	width: 60%;
	height: 70%;
	border-radius: 50%;
	left: 22%;

	top: 18%;
	position: absolute;
}
.gridbox {
	position: relative;
	height: 26rem;
	width: 18rem;

	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	background-color: #69dadb;
}

.swiper-horizontal > .swiper-scrollbar {
	display: none;
}

.refbox {
	display: none;
}
.gridbox span {
	/* height: 30%; */
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gridbox > span > p {
	color: black;
	font-size: 1.3rem;
	padding-bottom: 0.5rem;
	text-align: center;
}
.gridbox > span > h3 {
	font-size: 1.3rem;
	text-align: center;
	font-weight: 600;
	color: rgb(0, 0, 0);
	padding: 0.5rem;
}

body.dark .gridbox > span > h3 {
	color: rgb(0, 0, 0);
}
/* pagination */
.section2 {
	width: 100%;
	position: relative;
}

.pagination {
	position: relative;
	user-select: none;

	margin-top: 2rem;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.pagination li {
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 20px;
}
.current-page,
.dott {
	background-color: #969696;
}
#pagination-container {
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	position: relative;
}
.pagination li a {
	color: white;
	text-decoration: none;
}
.previous-page,
.next-page {
	background: linear-gradient(#4885e7, #19cae6);
}
.active {
	background: linear-gradient(#4885e7, #19cae6);
}
.disable {
	background: #d9d9d9;
}
.disable1 {
	opacity: 0.3;
}
.prev-btn,
.current-btn {
	padding: 0.5rem 0rem;
	width: 30%;
	text-align: center;
	border-radius: 20px;
	background-color: #568036;
	color: white;
}

.dots_container {
	display: flex;
	margin: 5px auto;
	width: fit-content;
}

.dots {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #bdbdbd;
	margin: 4px;
}

.dots:hover {
	background: #696969 !important;
}
@keyframes card {
	0% {
		flex-direction: row;
	}
	100% {
		flex-direction: row-reverse;
	}
}
@keyframes card2 {
	0% {
		flex-direction: row-reverse;
	}
	100% {
		flex-direction: row;
	}
}
@media (max-width: 1250px) {
	.gridcontainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 1000px) {
	.arrowLeft,
	.arrowRight {
		display: none;
	}
}

@media (max-width: 800px) {
	.dropdown {
		width: 20%;
	}
	.swiper {
		height: 70vh;
	}
	.swiper-slide img {
		width: 100%;
		height: 100%;
	}
	.gridcontainer {
		grid-row-gap: 2rem;
	}
}
@media (max-width: 700px) {
	.swiper {
		height: 60vh;
	}
	.gridbox {
		height: 18rem;
		width: 14rem;
	}
	.gridbox > span > h3 {
		font-size: 1rem;
	}
	.gridbox > span > p {
		font-size: 1rem;
	}
}
@media (max-width: 600px) {
	.swiper {
		height: 40vh;
	}

	.pagination li {
		margin: 1rem 0.5rem;
		padding: 0.2rem 0.5rem;
		font-size: 13px;
	}
	.gridbox {
		height: 15rem;
		width: 11rem;
	}
	.gridbox > span > h3 {
		font-size: 0.8rem;
		padding: 0.3rem;
	}
	.gridbox > span > p {
		font-size: 0.8rem;
		padding: 0.3rem;
	}
}
@media (max-width: 450px) {
	.swiper {
		height: 30vh;
	}
	.gridbox {
		height: 14rem;
		width: 10rem;
	}
}
@media (max-width: 400px) {
	.gridcontainer {
		grid-row-gap: 1rem;
	}
	.gridbox {
		height: 12rem;
		width: 8rem;
	}
	.gridbox > span > h3 {
		font-size: 0.7rem;
	}
	.gridbox > span > p {
		font-size: 0.7rem;
	}
}
