* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  transition: all 1s ease !important;
}
.left {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 2 !important;
}
.sidebar a {
  text-decoration: none;
}

.ahover:hover {
  background: #d2f4ea;
  margin: 2px;
  padding: 2px;
  border: 0.7px solid #9beaec;
}

/* Slider Revolution */
.mainsection {
  height: 90vh;
  width: 100%;
  display: flex;
}

.left {
  position: relative;
}
.exit {
  height: 100px;
  width: 100px;
  position: absolute;
  cursor: pointer;
  right: 25%;
  top: 14%;
  z-index: 4;
}
.exit img {
  width: 100%;
}
.right {
  position: relative;
  height: 90%;
  width: 90%;
  right: 0;
  position: absolute;
  top: 5vh;
}

.table {
  border: 2px solid rgb(53, 49, 49);
  border-radius: 2px;
  width: 80%;
}

.currentSliderimgurl {
  opacity: 0;
  position: absolute;
  height: 0%;
  width: 0%;
}

.imgform {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderimgurl {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  height: 0%;
  width: 0%;
}

.preview {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -41%);
  display: none;
  z-index: 5;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.preview img {
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.closesvg {
  position: absolute;
  cursor: pointer;
  right: 25%;
  top: 14%;
  z-index: 5;
  text-align: center;
  
  
}
.closesvg img {
  width: 100%;
  z-index: 5;
}
/* Latest Updates */

.buttondiv {
  display: flex;
}
