* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* 
.secMain {
   background-color: blue; 
    
} */

body.dark {
	background-color: #181a1b;
	color: white;
}

body.dark .chat {
	color: black !important;
}
.headerPic {
	width: 100vw;
}
.studentHeader {
	text-align: center;
	margin-bottom: 8rem;
	font-size: 3rem;
	
}
.parentVector {
	position: relative;
	width: 100%;
	/* height: 10rem; */
	margin-bottom: 10%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.vector h1 {
	font-size: 3rem;
	position: relative;
	top: 15%;
}
.parentVector h1 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
	position: relative;
}
.cardMain {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;

	grid-row-gap: 8rem;
	width: 80%;
	/* height: 120vh; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8rem;
}
.card {
	height: 400px;
	width: 340px;
	background: linear-gradient(#369afe, #60efffda);
	position: relative;
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.profile {
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -40%);
	border-radius: 100%;
	border: 2px solid black;
	width: 60%;
	height: 50%;
	object-fit: cover;
}
.card h3 {
	font-weight: 600;
	text-align: center;
	top: 35%;
	font-size: 1.3rem;
	position: relative;
	color: white;
	padding: .5rem;
}
.video {
	width: 90%;
	height: 40%;
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

@media (max-width: 1400px) {
	.cardMain {
		width: 90%;
	}
}

@media (max-width: 1250px) {
	.cardMain {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 800px) {
	.card {
		height: 240px;
		width: 200px;
	}
	.card h3 {
		font-size: .8rem;
	}
}
@media (max-width: 600px) {
	.studentHeader {
		font-size: 2rem;
		margin-bottom: 5rem;
		
	}
	.parentVector h1 {
		font-size: 2rem;
	}
	.video {
		height: 40%;
	}
	.cardMain {
		margin-bottom: 4rem;
	}
	
}
	

@media (max-width: 500px) {
	.cardMain {
		margin-top: 3rem;
		grid-row-gap: 5rem;
	}
	.card {
		height: 220px;
		width: 160px;
	}
	.profile {
		width:60%;
		height: 45%;
	}
	.video {
		bottom: 3%;
	}
	.card h3 {
		font-size: .8rem;
		top: 28%;
		padding: .8rem;
	}
}
@media (max-width: 400px) {
	.card h3 {
		font-size: .8rem;
		top: 25%;
		padding: .8rem;
	}
	.studentHeader {
		font-size: 1.5rem;
		
	}
	.parentVector h1 {
		font-size: 1.5rem;
	}
	.cardMain {
		margin-top: 3rem;
		grid-row-gap: 4rem;
	}
	.card {
		height: 190px;
		width: 130px;
	}
	.profile { 
		width: 65%;
	}

}
