<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input content</title>
    <link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
</head>
<body>
    <div class="forimg"></div>
    <form action="/example" method="post">
        <input type="file" name="myImage" class="myImage" accept="image/x-png,image/gif,image/jpeg" />
        <button type="submit">Submit</button>
    </form>
    <script src="../../javascripts/admin/example.js"></script>
</body>
</html>