<div
	class="flex-shrink-0 p-3 border-end bg-light sidebar"
	style="width: 250px; height: 90vh; margin-top: 10vh; overflow-y: scroll"
>
	<ul class="list-unstyled ps-0">
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#home-collapse"
				aria-expanded="true"
			>
				<b>Home</b>
			</button>
			<div class="collapse" id="home-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/sliderrevolution" class="link-dark rounded ahover"
							>Slider Revolution</a
						>
					</li>
					<li>
						<a href="/admin/latestupdates" class="link-dark rounded ahover"
							>Latest Updates</a
						>
					</li>
					<li>
						<a href="/admin/Calendarevents" class="link-dark rounded ahover"
							>Calendar Events</a
						>
					</li>
					<li>
						<a href="/admin/ourtoppers" class="link-dark rounded ahover"
							>Our Toppers</a
						>
					</li>
					<li>
						<a href="/admin/neetachievements" class="link-dark rounded ahover"
							>Neet Achievements</a
						>
					</li>
					<li>
						<a
							href="/admin/studenttestimonials"
							class="link-dark rounded ahover"
							>Students Testimonials</a
						>
					</li>
					<li>
						<a href="/admin/marquee" class="link-dark rounded ahover"
							>Marquee Text</a
						>
					</li>
					<li>
						<a href="/admin/questionbank" class="link-dark rounded ahover"
							>Questionbank</a
						>
					</li>
					<li>
						<a href="/admin/loadingimg" class="link-dark rounded ahover"
							>Loading Img</a
						>
					</li>
				</ul>
			</div>
		</li>

		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#about-collapse "
				aria-expanded="false"
			>
				<b>About Us</b>
			</button>
			<div class="collapse" id="about-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/aboutus/history" class="link-dark rounded ahover"
							>History</a
						>
					</li>
					<li>
						<a
							href="/admin/aboutus/foundervideo"
							class="link-dark rounded ahover"
							>Founder video</a
						>
					</li>
					<li>
						<a href="/admin/aboutus/ourfounder" class="link-dark rounded ahover"
							>Our Founder</a
						>
					</li>
				</ul>
			</div>
		</li>
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#demo-collapse"
				aria-expanded="false"
			>
				<b>Demo Videos</b>
			</button>
			<div class="collapse" id="demo-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/demovideos" class="link-dark rounded ahover"
							>Videos</a
						>
					</li>
				</ul>
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/bannerimg" class="link-dark rounded ahover"
							>Banner Image</a
						>
					</li>
				</ul>
			</div>
		</li>
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#success-collapse"
				aria-expanded="false"
			>
				<b>Success Stories</b>
			</button>
			<div class="collapse" id="success-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a
							href="/admin/successstories/testimonials"
							class="link-dark rounded ahover"
							>Student Testimonials</a
						>
					</li>
					<li>
						<a
							href="/admin/successstories/parenttestimonials"
							class="link-dark rounded ahover"
							>Parent Testimonials</a
						>
					</li>
				</ul>
			</div>
		</li>
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#results-collapse"
				aria-expanded="false"
			>
				<b>Results</b>
			</button>
			<div class="collapse" id="results-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/results/images" class="link-dark rounded ahover"
							>Images</a
						>
					</li>
					<li>
						<a
							href="/admin/results/studentdetails"
							class="link-dark rounded ahover"
							>Student Details</a
						>
					</li>
				</ul>
			</div>
		</li>
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#chatbot-collapse"
				aria-expanded="false"
			>
				<b>Chatbot</b>
			</button>
			<div class="collapse" id="chatbot-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/chatbot" class="link-dark rounded ahover"
							>Response</a
						>
					</li>
				</ul>
			</div>
		</li>
		<li class="mb-4">
			<button
				class="btn btn-toggle align-items-center rounded collapsed fs-5"
				data-bs-toggle="collapse"
				data-bs-target="#branches-collapse"
				aria-expanded="false"
			>
				<b>Branches</b>
			</button>
			<div class="collapse" id="branches-collapse">
				<ul
					class="
						btn-toggle-nav
						list-unstyled
						fw-normal
						pb-1
						ms-4
						d-flex
						flex-column
						justify-content-center
						fs-6
						mt-2
						ms-4
						small
					"
				>
					<li>
						<a href="/admin/branch/salem" class="link-dark rounded ahover"
							>Salem - Carousel</a
						>
					</li>
					<li>
						<a
							href="/admin/branch/salemcontent"
							class="link-dark rounded ahover"
							>Salem - Content</a
						>
					</li>

					<li>
						<a href="/admin/branch/namakkal" class="link-dark rounded ahover"
							>Namakkal - Carousel</a
						>
					</li>
					<li>
						<a
							href="/admin/branch/namakkalcontent"
							class="link-dark rounded ahover"
							>Namakkal - Content</a
						>
					</li>
					<li>
						<a href="/admin/branch/dharmapuri" class="link-dark rounded ahover"
							>Dharmapuri - Carousel</a
						>
					</li>
					<li>
						<a
							href="/admin/branch/dharmapuricontent"
							class="link-dark rounded ahover"
							>Dharmapuri - Content</a
						>
					</li>
					<li>
						<a href="/admin/branch/vellore" class="link-dark rounded ahover"
							>Vellore - Carousel</a
						>
					</li>
					<li>
						<a
							href="/admin/branch/vellorecontent"
							class="link-dark rounded ahover"
							>Vellore - Content</a
						>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<% if(success && success.length) {%>
<p class="sweetp"><%= success %></p>
<% } %> <% if(error && error.length) {%>
<p class="sweetperr"><%= error %></p>
<% } %>

<script src="../../javascripts/admin/header.js"></script>
