<!-- Header session -->
<header>
    <div class="Menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
        <h2>Menu</h2>
        <h1>Classic Neet Academy Admin Dashboard</h1>
        <img src="images/home/classic-nee-tacademy-logo.png" alt="" class="user">
        <div>
            <h2>superadmin</h2>
            <p>signout</p>
        </div>
    </div>
</header>