<!-- Header session -->
<header>
    <div class="Menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
        <h2>Menu</h2>
        <h1>Classic Neet Academy Admin Dashboard</h1>
        <img src="images/home/classic-nee-tacademy-logo.png" alt="" class="user">
        <div>
            <h2>superadmin</h2>
            <p>signout</p>
        </div>
        
    </div>
    <section class="MenuBar">
    <ul>
        <div class="home">
            <li class=""><a href=""><h4>Home</h4></a></li>
            <span>
                <li class=""><a href="">slider revolution</a></li>
                <li class=""><a href="">latest Updates</a></li>
                <li class=""><a href="">calendar</a></li>
                <li class=""><a href="">Our toppers</a></li>
                <li class=""><a href="">Neet Achievements</a></li>
                <li class=""><a href="">students testimonials</a></li>
            </span>
        </div>
        <div class="courses">
            <li class=""><a href=""><h4>courses</h4></a></li>
            <span>
                <li class=""><a href="">courses Neet</a></li>
                <li class=""><a href="">courses jee</a></li>
                <li class=""><a href="">courses iit & medical</a></li>
            </span>
        </div>
        <div class="AboutUs">
            <li class=""><a href=""><h4>About Us</h4></a></li>
            <span>
                <li class=""><a href="">History</a></li>
                <li class=""><a href="">Our Leaders</a></li>
            </span>
        </div>
        <div class="DemoVideos">
            <li class=""><a href=""><h4>Demo Videos</h4></a></li>
            <span>
                <li class=""><a href="">videos</a></li>
            </span>
        </div>
        <div class="SuccessStories">
            <li class=""><a href=""><h4>Success Stories</h4></a></li>
            <span>
                <li class=""><a href="">Image</a></li>
                <li class=""><a href="">Videos</a></li>
            </span>
        </div>
        <div class="Results">
            <li class=""><a href=""><h4>Results</h4></a></li>
            <span>
                <li class=""><a href="">Image</a></li>
                <li class=""><a href="">Name</a></li>
                <li class=""><a href="">Neet scores</a></li>
                <li class=""><a href="">Collage Group</a></li>
            </span>
        </div>
        <div class="ContactUs">
            <li class=""><a href=""><h4>Contact Us</h4></a></li>
            <span>
                <li class=""><a href="">Name</a></li>
                <li class=""><a href="">Phone number</a></li>
                <li class=""><a href="">Message</a></li>
            </span>
        </div>
  </ul>
   </section> 
</header>