<div class="MenuBar">
	<ul>
		<div class="home">
			<li class="">
				<a href=""><h4>HOME</h4></a>
			</li>
			<span>
				<li class=""><a href="">Slider Revolution</a></li>
				<li class=""><a href="">Latest Updates</a></li>
				<li class=""><a href="">Our Toppers</a></li>
				<li class=""><a href="">Neet Achievements</a></li>
				<li class=""><a href="">Students Testimonials</a></li>
			</span>
		</div>
		<div class="courses">
			<li class="">
				<a href=""><h4>COURSES</h4></a>
			</li>
			<span>
				<li class=""><a href="">Courses Neet</a></li>
				<li class=""><a href="">Courses jee</a></li>
				<li class=""><a href="">Courses iit & medical</a></li>
			</span>
		</div>
		<div class="AboutUs">
			<li class="">
				<a href=""><h4>ABOUT US</h4></a>
			</li>
			<span>
				<li class=""><a href="">History</a></li>
				<li class=""><a href="">Our Leaders</a></li>
			</span>
		</div>
		<div class="DemoVideos">
			<li class="">
				<a href=""><h4>DEMO VIDEOS</h4></a>
			</li>
			<span>
				<li class=""><a href="">Videos</a></li>
			</span>
		</div>
		<div class="SuccessStories">
			<li class="">
				<a href=""><h4>SUCCESS STORIES</h4></a>
			</li>
			<span>
				<li class=""><a href="">Image</a></li>
				<li class=""><a href="">Videos</a></li>
			</span>
		</div>
		<div class="Results">
			<li class="">
				<a href=""><h4>RESULTS</h4></a>
			</li>
			<span>
				<li class=""><a href="">Image</a></li>
				<li class=""><a href="">Name</a></li>
				<li class=""><a href="">Neet Scores</a></li>
				<li class=""><a href="">Collage Group</a></li>
			</span>
		</div>
		<div class="ContactUs">
			<li class="">
				<a href=""><h4>CONTACT US</h4></a>
			</li>
			<span>
				<li class=""><a href="">Name</a></li>
				<li class=""><a href="">Phone Number</a></li>
				<li class=""><a href="">Message</a></li>
			</span>
		</div>
	</ul>
</div>
