<!-- Header session -->
<header>
    <div class="Menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
        <h2>Menu</h2>
        <h1>Classic Neet Academy Admin Dashboard</h1>
        <img src="images/home/classic-nee-tacademy-logo.png" alt="" class="user">
        <div>
            <h2>superadmin</h2>
            <p>signout</p>
        </div>
        
    </div>
    <section class="MenuBar">
    <ul>
        <div class="home">
            <li class=""><a href=""><b>Home</b></a></li>
            <span>
                <li class=""><a href=""><b>slider revolution</b></a></li>
                <li class=""><a href=""><b>latest Updates</b></a></li>
                <li class=""><a href=""><b>calendar</b></a></li>
                <li class=""><a href=""><b>Neet 2020 toppers</b></a></li>
                <li class=""><a href=""><b>Neet Achievements</b></a></li>
                <li class=""><a href=""><b>students testimonials</b></a></li>
            </span>
        </div>
        <div class="courses">
            <li class=""><a href=""><b>courses</b></a></li>
            <span>
                <li class=""><a href=""><b>courses Neet</b></a></li>
                <li class=""><a href=""><b>courses jee</b></a></li>
                <li class=""><a href=""><b>courses iit & medical</b></a></li>
            </span>
        </div>
        <div class="About Us">
            <li class=""><a href=""><b>About Us</b></a></li>
            <span>
                <li class=""><a href=""><b>History</b></a></li>
                <li class=""><a href=""><b>Our Leaders</b></a></li>
            </span>
        </div>
        <div class="Demo Videos">
            <li class=""><a href=""><b>Demo Videos</b></a></li>
            <span>
                <li class=""><a href=""><b>videos</b></a></li>
            </span>
        </div>
        <div class="Success Stories">
            <li class=""><a href=""><b>Success Stories</b></a></li>
            <span>
                <li class=""><a href=""><b>Image</b></a></li>
                <li class=""><a href=""><b>Videos</b></a></li>
            </span>
        </div>
        <div class="Results">
            <li class=""><a href=""><b>Results</b></a></li>
            <span>
                <li class=""><a href=""><b>Image</b></a></li>
                <li class=""><a href=""><b>Name</b></a></li>
                <li class=""><a href=""><b>Neet scores</b></a></li>
                <li class=""><a href=""><b>Collage Group</b></a></li>
            </span>
        </div>
        <div class="Contact Us">
            <li class=""><a href=""><b>Contact Us</b></a></li>
            <span>
                <li class=""><a href=""><b>Name</b></a></li>
                <li class=""><a href=""><b>Phone number</b></a></li>
                <li class=""><a href=""><b>Message</b></a></li>
            </span>
        </div>
  </ul>
   </section> 
</header>