<link rel="stylesheet" href="stylesheets/common.css" />
<!-- footer section -->
<footer>
	<img class="footer_svg_1" src="images/home/footer_svg_1.png" alt="" />
	<img class="footer_svg_2" src="images/home/footer_svg_2.png" alt="" />
	<div class="footer_content">
		<div class="footer-body">
			<div class="footerInner">
				<div class="address-container salem" style="color: red">
					<h1>H.O-Salem</h1>
					<div>
						<span
							><svg
								xmlns="http://www.w3.org/2000/svg"
								class="location-svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"
								/></svg
						></span>
						<div class="address" style="font-weight: bolder">
							1/1, First Floor, PS Square, SKS Hospital Road, Opp. Ponnusamy
							Gounder Kalyana Mandapam, Salem- 636004
						</div>
					</div>
					<span class="mobspan s1"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
							/>
						</svg>
						<span class="num" style="font-weight: bolder"
							>&nbsp; +91-78670 14165</span
						>
					</span>
				</div>
				<div class="address-container">
					<h1>Namakkal</h1>
					<div>
						<span
							><svg
								xmlns="http://www.w3.org/2000/svg"
								class="location-svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"
								/></svg
						></span>
						<div class="address">
							84-B/5, Third Floor, S.S Complex (Ramesh Theatre Bus Stop),Trichy
							Road, Namakkal - 637002
						</div>
					</div>
					<span class="mobspan s2"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
							/>
						</svg>
						&nbsp; +91-78670 14168</span
					>
				</div>
				<div class="address-container">
					<h1>Dharmapuri</h1>
					<div>
						<span
							><svg
								xmlns="http://www.w3.org/2000/svg"
								class="location-svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"
								/></svg
						></span>
						<div class="address">
							5-A1, Narasimma Achari Street, Town BSNL office Back Side,
							Dharmapuri - 636701
						</div>
					</div>
					<span class="mobspan s3"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
							/>
						</svg>
						&nbsp; +91-78670 14164</span
					>
				</div>
				<div class="address-container">
					<h1>Vellore</h1>
					<div>
						<span
							><svg
								xmlns="http://www.w3.org/2000/svg"
								class="location-svg"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"
								/></svg
						></span>
						<div class="address">
							No: 7/2, First Floor AL- Noor Complex, Palathorom Street, Katpadi
							Road /New Bye Pass Road, Vellore- 632004
						</div>
					</div>
					<span class="mobspan s4"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							viewBox="0 0 20 20"
							fill="currentColor"
						>
							<path
								d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
							/>
						</svg>
						&nbsp; +91-7373755664</span
					>
				</div>
			</div>
		</div>

		<div class="footer_head">
			<div class="social">
				<a
					target="_blank"
					href="https://www.youtube.com/channel/UC80L5_LkKEhR7ORHDEKvNAQ"
					><img src="https://img.icons8.com/color/50/000000/youtube-play.png"
				/></a>
				<a
					target="_blank"
					href="https://www.facebook.com/CLASSICNEETACADEMYSALEM/"
					><img src="https://img.icons8.com/fluency/48/000000/facebook.png"
				/></a>
				<a
					target="_blank"
					href="https://www.instagram.com/classic_neet_academy/?hl=en"
					><img
						src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
				/></a>
				<a
					target="_blank"
					class="playstore1"
					href="https://play.google.com/store/apps/details?id=eduapplet.classicneet&hl=en_IN&gl=US"
					><img
						src="images/aboutus/download.jpg"
						style="width: 8vw; height: 5vh; margin: 0.8rem"
				/></a>
				<a
					target="_blank"
					class="playstore2"
					href="https://play.google.com/store/apps/details?id=eduapplet.classicneet&hl=en_IN&gl=US"
					><img
						style="height: 45px; width: 45px"
						src="https://img.icons8.com/color/48/000000/playstore.png"
				/></a>
			</div>
		</div>
		<div class="footer-last">&copy; Copyright Classic NEET Academy 2021</div>
	</div>
</footer>
