<link rel="stylesheet" href="stylesheets/nav.css" />

<header class="header-area">
	<!-- site-navbar start -->
	<div class="navbar-area">
		<div class="container1">
			<nav class="site-navbar">
				<!-- site logo -->
				<a href="/" class="site-logo"
					><img
						draggable="false"
						class="site-logo-img"
						src="images/home/logowbg2.png"
						alt=""
				/></a>
				<!-- site menu/nav -->
				<div class="nav2">
					<ul>
						
							<li class="mobilebefore"><a class="even homenav" href="/">Home</a></li>
							<li class="mobilebefore">
								<a class="odd coursesnav" href="/#courses"><b>Courses</b></a>
							</li>
							<li class="mobilebefore">
								<a class="even aboutusnav" href="/Aboutus"><b>About Us</b></a>
							</li>
							<li class="mobilebefore">
								<a class="odd Demovideosnav" href="/Demovideos"
									><b>Demo Videos</b></a
								>
							</li>
							<li class="mobilebefore">
								<a class="even successstoriesnav" href="/successstories"
									><b>Success Stories</b></a
								>
							</li>
							<li class="mobilebefore">
								<a class="odd resultsnav" href="/results"><b>Results</b></a>
							</li>
							<li class="menu mobilebefore">
								<a class="even ourbranchesnav"><b>Our Branches</b></a>
								
									<ul class="submenu none">
										<li><a href="/salem" class="dropdown">Salem</a></li>
										<li><a href="/namakkal" class="dropdown">Namakkal</a></li>
										<li><a href="/dharmapuri" class="dropdown">Dharmapuri</a></li>
										<li><a href="/vellore" class="dropdown">Vellore</a></li>
									</ul>
							</li>
							<li class="mobilebefore">
								<a class="odd contactusnav" href="/contactus"
									><b>Contact Us</b></a
								>
							</li>		
						<span class="mobile none">
							<li><a href="/namakkal" class="dropdown">Namakkal</a></li>
							<li><a href="/salem" class="dropdown">Salem</a></li>
							<li><a href="/dharmapuri" class="dropdown">Dharmapuri</a></li>
							<li><a href="/vellore" class="dropdown">Vellore</a></li>
						</span>
					</ul>
					<ul class="show none">
						
					</ul>
					<span class="dark-mode-toggle"></span>
					<button class="nav-toggler">
						<span class="nav-span"></span>
					</button>
				</div>
				<!-- nav-toggler for mobile version only -->
			</nav>
		</div>
	</div>
	<!-- navbar-area end -->
</header>
