 <link rel="stylesheet" href="stylesheets/common.css">
<!-- Navbar -->
    <nav>
      <div class="logo">
        <img src="images/home/classic-nee-tacademy-logo.png" alt="">
      </div>
      <ul class="navlinks">
        <li class=""><a href="./index.html"><b>Home</b></a></li>
		<li class=""><a href="./index.html#courses"><b>Courses</b></a></li>
        <li class=""><a href="./About us/about-us.html"><b>About Us</b></a></li>
        <li class=""><a href="./Demo videos/Demovideos.html"><b>Demo Videos</b></a></li>
        <li class=""><a href="/"><b>Success Stories</b></a></li>
        <li class=""><a href="./results/results.html"><b>Results</b></a></li>
        <li class=""><a href="/"><b>Contact Us</b></a></li>
      </ul>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>