<link rel="stylesheet" href="stylesheets/common.css" />
<!-- Navbar -->
<nav>
	<div class="logo">
		<img src="images/home/classic-nee-tacademy-logo.png" alt="" />
	</div>
	<ul class="navlinks">
		<li class="homeNav">
			<a class="even" href="/"><b>Home</b></a>
		</li>
		<li class="courseNav">
			<a class="odd" href="/home#courses"><b>Courses</b></a>
		</li>
		<li class="aboutNav">
			<a class="even" href="/Aboutus"><b>About Us</b></a>
		</li>
		<li class="demoNav">
			<a class="odd" href="/Demovideos"><b>Demo Videos</b></a>
		</li>
		<li class="successNav">
			<a class="even" href="/successstories"><b>Success Stories</b></a>
		</li>
		<li class="resultNav">
			<a class="odd" href="/results"><b>Results</b></a>
		</li>
		<li class="contactNav">
			<a class="even" href="/contactus"><b>Contact Us</b></a>
		</li>
		<li class="dark-mode-toggle"></li>
	</ul>
	<div class="hamburger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
